

.otp{
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.338);
    border-radius: 10px;
    border: none;
    font-size: 18px;
}


.otp:focus-visible{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.codeInput{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer{
    margin: 5px 10px 0 0;
    opacity: .7;
    font-size: 14px;
    align-self: flex-end;
}

.editPhoneNumber{
    font-size: small;
    cursor: pointer;
    transition: 400ms;
    opacity: .7;
    margin: 20px 0 -10px;
}

.editPhoneNumber:hover{
    opacity: 1;
    transform: scale(1.05);
    transition: 400ms;
}

.number{
    margin: 0;
    opacity: .7;
}