


.phoneNumber {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#phoneNumber {
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 0.338);
    border-radius: 10px;
    border: none;
}


#phoneNumber:focus-visible {
    outline: none;
}

#prefix {
    position: absolute;
    border: none;
    margin-left: 5px;
    background-color: transparent;
}

#prefix:focus-visible {
    outline: none;
}